<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'SteamAppNative' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>c5cffa02-cb5f-47c5-8213-1ce47f930374</InstrumentationKey>
</ApplicationInsights>